body {
  margin: 0;
  background-color: white;
}

.titulo {
text-align: center;
text-align: left;
margin: auto;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
}

.emoji {
height: 20px;
padding-bottom: 75px;
padding-top: 75px;
}

.portfolio {
  display: flex;
  gap: 100px;
  margin-top: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px
}

.portfolio img {
  max-width: 100%;
  height: auto;
}

.coluna-esquerda {
  background-color: white;

}

.coluna-direita {
  background-color: white;
}

.black {
  border: 40px solid black;
}

.grey {
  border: 40px solid grey;
}

.salmon {
  border: 40px solid salmon;
}

.lightblue {
  border: 40px solid lightblue;
}

.lightgreen {
  border: 40px solid lightgreen;
}

.lightpink {
  border: 40px solid lightpink;
}



.container {
  max-width: 75%;
  margin: 0 auto;
}